@import url("https://fonts.cdnfonts.com/css/samsung-sans-4");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  position: relative;
  font-family: "Samsung Sans", sans-serif;
  color: white;
  background: linear-gradient(to right, #2e2e2f, rgb(111, 86, 76));
}
.header-with-3 {
  font-size: 0.65rem;
  padding: 1rem;

  display: flex;
  justify-content: space-between;
}

.sittings-header {
  font-size: 0.9rem;

  display: flex;
  align-items: center;
}

.theFirstWord {
  color: #ffffff4f;

  text-align: center;
}

.thesecondWord {
  text-align: center;
}

.goesDown {
  display: flex;
  align-items: center;
}

.Content-container {
  padding: 1rem;
}

.albom-song-picture {
  border-radius: 15px;
  padding: 11rem 1rem;

  background-image: url("https://i.kym-cdn.com/editorials/icons/mobile/000/007/094/crying_vince.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.IMG {
  width: 100%;
}
.aboutSongPlay {
  padding: 1rem;

  display: flex;
  justify-content: space-between;
}

.NameOfSong {
  font-size: 0.95rem;
}

.NameOfCreator {
  text-align: center;
  color: #ffffff4f;
  font-size: 0.5rem;
  text-align: center;
}

.AddToFavorit {
  transition: 0.25s;
}

.songTimeLine {
  margin-top: 2rem;
  padding: 1rem;
}

.lineOfTheTime {
  margin-bottom: 0.35rem;
  height: 5px;
  background-color: #00000029;
  border-radius: 15px;
}

.Time {
  display: flex;
  justify-content: space-between;
}

.TimeOfSong {
  text-align: center;
  color: #ffffff4f;
  font-size: 0.75rem;
  text-align: center;
}

.TimePassOfSong {
  text-align: center;
  color: #ffffff4f;
  font-size: 0.75rem;
  text-align: center;
}

.Footer-with-5 {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.ChoseHowsNext {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.NEXTBEFORE {
  display: flex;
  justify-content: space-between;

  gap: 0.5rem;
}
.Next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stop {
  transition: 0.1s;
  color: #000;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.before {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ChoseHowsNext2 {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.timeline {
  width: 100%;
  height: 2px;
  background-color: whitesmoke;
  border-radius: 15px;
  position: relative;
}
.timeline > div {
  height: 100%;
  border: 2px solid #00000071;
  border-radius: 15px;
  width: 0;
  position: absolute;
}
