.sittings-sage {
  background: linear-gradient(to right, #18191b, #18191b);
  display: none;
  transform: translateY(-10000px);
  transition: all 0.5s ease-out;
}
.songContainer {
  border-bottom: 1px solid rgba(255, 255, 255, 0.181);
  padding: 0.75rem;
}
.firstCon {
  border-bottom: 1px solid rgba(255, 255, 255, 0.181);
}
.firstOne {
  padding: 0.75rem 1rem;
  display: flex;
  gap: 1rem;
  color: rgba(255, 255, 255, 0.282);
  font-size: 1.2rem;
}
.textFIRSTONE {
  color: white;
  font-size: 1rem;
}
